@keyframes example {
  0% {
    left: calc((100vw - 280px) / 2);
    top: -500px;
  }
  25% {
    left: calc((100vw - 280px) / 2);
    top: -250px;
  }
  50% {
    left: calc((100vw - 280px) / 2);
    top: 0px;
  }
  75% {
    left: calc((100vw - 280px) / 2);
    top: 250px;
  }
  100% {
    left: calc((100vw - 280px) / 2);
    top: 150px;
  }
}

.playerRoundAnimation {
  position: fixed;
  top: 150px;
  left: calc((100vw - 280px) / 2);
  animation-name: example;
  animation-timing-function: linear;
  animation-duration: 3s;
}
