@keyframes example {
  0% {
    left: calc((100vw - 280px) / 2);
    top: -500px;
  }
  25% {
    left: calc((100vw - 280px) / 2);
    top: -250px;
  }
  50% {
    left: calc((100vw - 280px) / 2);
    top: 0px;
  }
  75% {
    left: calc((100vw - 280px) / 2);
    top: 250px;
  }
  100% {
    left: calc((100vw - 280px) / 2);
    top: 150px;
  }
}

.playerRoundAnimation {
  position: fixed;
  top: 150px;
  left: calc((100vw - 280px) / 2);
  animation-name: example;
  animation-timing-function: linear;
  animation-duration: 3s;
}

.wrapper {
  background: rgb(158, 158, 158);
}

.emboss {
  color: #fff;
  background: #636363;
  text-shadow: 1px 4px 4px #4c4c4c;

  background-clip: text;
}

.engrave {
  background: #211f1f;
  color: transparent;
  text-shadow: rgba(245, 245, 245, 0.4) 3px 5px 6px;

  background-clip: text;
}
