@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css?family=Monoton&effect=neon");

@font-face {
  font-family: "DIN_Pro";
  src: url(/src/assets/fonts/DIN_Pro.otf);
}
@font-face {
  font-family: "DIN_Pro_thin";
  src: url(/src/assets/fonts/DIN_Pro_thin.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: linear-gradient(
    0deg,
    rgba(4, 26, 3, 1) 0%,
    rgba(7, 45, 5, 1) 39%,
    rgba(14, 77, 11, 1) 100%
  );
}
