@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "DIN_Pro";
  src: url(/src/assets/fonts/DIN_Pro.otf);
}
@font-face {
  font-family: "DIN_Pro_thin";
  src: url(/src/assets/fonts/DIN_Pro_thin.otf);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overscroll-behavior: contain;
  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
