.container {
  width: 80%;
  height: 200px;
  display: flex;
  /* place-content: center;
   */
  justify-content: left;
  overflow: hidden;
  /* background: rgba(255, 255, 255, 0.2); */
}

.item {
  margin-top: 20px;
  width: 40%;
  overflow: visible;
  stroke: #000;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
